@model IEnumerable<Sodexo.Entities.Entities.Llamada>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NroEntrante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duracion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoAtencion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NroEntrante)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duracion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoAtencion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LlamadaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LlamadaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LlamadaId })
        </td>
    </tr>
}

</table>
